.container {
  color: $color-text;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.sectionContent {
  background-color: $color-section-text-bg;
  font-size: $fs-body;
  line-height: 2;
  padding: $section-content-padding;
}

.sectionTitle {
  @include breakpoint($until: 'phone') {
    height: $section-title-height--mobile;
    margin: -5rem $work-section-title-padding--mobile 0;
  }
  @include breakpoint($until: 'tablet') {
    padding-left: $section-title-padding--mobile;
  }

  font-family: $font-heading;
  font-size: $fs-lg;
  height: $img-margin;
}
