.imageContainer {
  @include breakpoint($until: 'phone') {
    box-shadow: $img-shadow--mobile;
    height: $img-size-sm--mobile;
    width: $img-size-sm--mobile;
    box-shadow: $img-shadow--mobile;
    margin-right: $img-margin--mobile;
    margin-top: $img-margin--mobile;
  }

  display: flex;
  flex-shrink: 0;
  box-shadow: $img-shadow;
  height: $img-size-sm;
  width: $img-size-sm;
  margin-right: $img-margin;
  margin-top: $img-margin;
  position: relative;
}
