.button {
  background: linear-gradient(
    to right,
    $color-button-bg--hover 50%,
    $color-button-bg 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid $color-button-border;
  box-shadow: $button-box-shadow;
  color: $color-button-text;
  display: inline-block;
  font-weight: bold;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  text-transform: uppercase;
  width: $button-width;
  transition: all 0.4s ease-out;

  &:hover {
    background-position: left bottom;
    color: $c-bayou;
    transition: 0.4s ease-in-out;
    letter-spacing: normal;
  }

  &:active {
    transform: translate($button-shadow-offset, $button-shadow-offset);
    transition: 0.2s ease-in-out;
    box-shadow: none;
  }
}
