@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.workSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.workSectionIndicators {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $space;
}

.workSectionSlides {
  display: flex;
  width: 100%;
}

.workSectionTitle {
  @include breakpoint($until: 'tablet') {
    margin: 0;
  }
  border-bottom: 1rem solid $c-aruba-blue;
  color: $c-charleston-green;
  font-family: $font-heading;
  font-size: $fs-xl;
  padding: $space-double 0 1rem;
  text-align: center;
}

.contentWrapper {
  @include breakpoint($until: 'phone') {
    padding: 0;
  }

  flex-direction: row;
  padding: $work-section-padding;
  text-align: left;
  width: 100%;

  &Odd {
    @include breakpoint($from: 'phone') {
      flex-direction: row-reverse;
      text-align: right;
    }
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row-reverse;
  padding: $gutter-sm;
}
