@import 'styles/variables';

.mainContainer {
  @include breakpoint($from: 'tablet') {
    padding: $gutter-md;
  }
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.wrapper {
  background: $color-bg;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: $main-width;
  min-width: $main-min-width;
}
