.container {
  @include breakpoint($until: 'phone') {
    margin: $content-section-margin-top--mobile 0 0;
  }

  display: flex;
  flex-direction: row;
  margin: $gutter-md 0;

  .imageContainer {
    @include breakpoint($until: 'phone') {
      position: absolute;
      margin-top: $content-section-img-margin-top--mobile;
    }

    margin-left: $gutter-md;
    right: 0;
  }
}
