.container {
  @include breakpoint($until: 'phone') {
    margin: $content-section-margin-top--mobile 0 0;
  }

  display: inline-flex;
  flex-direction: inherit;
  gap: $content-section-gap;
  justify-content: space-between;
  text-align: inherit;
  white-space: normal;
  width: 100%;

  .imageContainer {
    @include breakpoint($until: 'phone') {
      position: absolute;
      margin-top: $content-section-img-margin-top--mobile;
    }
  }
}

.textContainer {
  color: $color-text;
  display: flex;
  flex-direction: column;
  text-align: inherit;
  width: 100%;
}

.workContent {
  background-color: $color-section-text-bg;
  font-size: $fs-body;
  line-height: 2;
  padding: $section-content-padding;
  text-align: left;
}

.workTitle {
  @include breakpoint($until: 'phone') {
    height: $section-title-height--mobile;
    margin: -5rem $workSection-title-padding--mobile 0;
  }

  font-family: $font-heading;
  font-size: $fs-lg;
  height: $img-margin;
  position: relative;
  text-align: inherit;
}
