@mixin toggle {
  align-items: center;
  background-color: $c-white;
  border-radius: $toggle-button-border-radius;
  border: $toggle-button-border;
  display: flex;
  flex-direction: row;
  height: $toggle-button-height;
  position: relative;
  width: $toggle-button-width;
}

.toggleOn {
  @include toggle;
  .toggleCircle {
    background-color: $color-toggle-button-circle;
    left: $toggle-button-circle-position--on;
  }
}

.toggleOff {
  @include toggle;
  .toggleCircle {
    background-color: $c-light-grey;
    left: 0;
  }
}

.toggleCircle {
  border-radius: 50%;
  box-shadow: $toggle-button-circle-shadow;
  box-sizing: border-box;
  display: flex;
  height: $toggle-button-circle-size;
  min-width: $toggle-button-circle-size;
  position: absolute;
  transition: all 0.1s ease;
  width: $toggle-button-circle-size;

  &:hover {
    cursor: pointer;
  }
}
