.animationToggle {
  color: $color-link;
  display: flex;
  flex-direction: row;
  font-size: $fs-topbar;
  justify-content: space-between;
  min-width: $topbar-toggle-width;
}

.skipToMain {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.topBar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: $topbar-padding;
  position: relative;
}

.homeLinkWrapper {
  align-items: center;
  display: flex;
  left: 0;
  padding: 0 $gutter-sm;
  position: absolute;
}

.homeLink {
  font-size: $fs-sm;
}

.homeIcon {
  color: $color-home-icon;
  font-size: $fs-md;
  padding-right: $home-icon-padding;
}
