.animationToggle {
  color: $color-link;
  display: flex;
  flex-direction: row;
  font-size: $fs-topbar;
  justify-content: space-between;
  min-width: $topbar-toggle-width;
}

.topBar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: $topbar-padding;
}
