// Colors

$c-aruba-blue: #81dbd5;
$c-bayou: #1b756f;
$c-charleston-green: #232b2b;
$c-desire-pink: #f1c4d4;
$c-light-grey: #d3d3d3;
$c-linnet-egg-red: #ffccde;
$c-powderpuff: #ffedf3;
$c-salmon-creek: #ffddc5;
$c-white: #fff;

// Color variables

// Text
$color-text: $c-charleston-green;

// Links
$color-link: $c-bayou;

// Layout
$color-bg: $c-white;
$color-bg-margins: $c-salmon-creek;
$color-section-text-bg: $c-desire-pink;
$color-footer-bg: $color-bg;
$color-footer-separator: $c-aruba-blue;
$color-header: $c-aruba-blue;
$color-header-text: $c-white;
$color-section-title-bg: $c-aruba-blue;
$color-topbar-bg: $color-bg;
$color-triangle: $color-bg;

// Components
$color-button-bg: $c-white;
$color-button-bg--hover: $c-powderpuff;
$color-button-border: $c-aruba-blue;
$color-button-shadow: $c-salmon-creek;
$color-button-text: $c-aruba-blue;

$color-img-shadow: $c-aruba-blue;
$color-toggleButtonBorder: $c-light-grey;
