
// Colors

$c-aruba-blue: #81DBD5;
$c-charleston-green: #232B2B;
$c-desire-pink: #F1C4D4;
$c-linnet-egg-red: #FFCCDE;
$c-salmon-creek: #FFDDC5;
$c-white: #FFF;

// Color variables

// Text
$color-text: $c-charleston-green;

// Links
$color-link: $c-aruba-blue;

// Layout
$color-bg: $c-white;
$color-bg-margins: $c-salmon-creek; 
$color-section-text-bg: $c-desire-pink;
$color-footer-bg: $color-bg;
$color-footer-separator: $c-aruba-blue;
$color-header: $c-aruba-blue;
$color-header-text: $c-white;
$color-topbar-bg: $color-bg;
$color-triangle: $color-bg;


// Components
$color-img-shadow: $c-aruba-blue;
