@import './colors.scss';
@import './fonts.scss';
@import './breakpoints.scss';

// Fonts:
$font-heading: $alata;

$fs14: 0.875rem;
$fs16: 1rem;
$fs24: 1.5rem;
$fs32: 2rem;
$fs64: 4rem;

$fs-sm: $fs14;
$fs-md: $fs16;
$fs-lg: $fs24;
$fs-xl: $fs32;
$fs-xxl: $fs64;

$fs-body: $fs-md;
$fs-header: $fs-xxl;
$fs-header--mobile: $fs-xl;
$fs-header--tiny: $fs-lg;
$fs-subheader: $fs-lg;
$fs-subheader--mobile: $fs-md;
$fs-subheader--tiny: $fs-sm;
$fs-topbar: $fs-sm;

// Spacings
$space: $fs-body;
$space-double: 2 * $space;
$space-triple: 3 * $space;
$space-quadruple: 4 * $space;

// Gutters
$gutter-xs: $space / 2;
$gutter-sm: $space;
$gutter-md: $space-double;
$gutter-lg: $space-triple;
$gutter-xl: $space-quadruple;

// Layout
$main-width: 75rem; //1200px
$main-min-width: 19rem; //304px
$section-content-padding: $gutter-sm $gutter-md;

// Components

// Button
$button-shadow-offset: 6px;
$button-box-shadow: $button-shadow-offset $button-shadow-offset 0
  $color-button-shadow;
$button-height: 3rem;
$button-width: 8rem;

// Content-section
$content-section-gap: $space-double;
$content-section-content-margin: $gutter-md 0 $gutter-md 0;
$content-section-content-margin--mobile: 8rem 0 $gutter-md 0;
$content-section-img-margin-top--mobile: -5rem;
$content-section-margin-top--mobile: 8rem;
$section-title-padding--mobile: $gutter-sm;
$section-title-height--mobile: 7rem;

//Header-shapes
$trapezoid-slope-width: 16rem;
$trapezoid-slope-width--mobile: 8rem;
$triangle-size: 4rem;
$triangle-size--mobile: 2rem;

// Header
$header-height: 16rem;
$header-height--mobile: 8rem;
$header-img-width: 30rem;
$header-img-width--mobile: 15rem;
$header-padding: $gutter-md $gutter-md;
$header-padding--mobile: $gutter-sm 0;
$titleContainer-max-width: 20rem;
$titleContainer-max-width--mobile: 8rem;

// Images
$img-size-sm: 12.5rem;
$img-size-sm--mobile: 8rem;
$img-shadow-size: $space-double;
$img-shadow-size--mobile: $space;
$img-shadow: $img-shadow-size (-$img-shadow-size) 0 $color-img-shadow;
$img-shadow--mobile: $img-shadow-size--mobile (-$img-shadow-size--mobile) 0
  $color-img-shadow;
$img-margin: $img-shadow-size;
$img-margin--mobile: $img-shadow-size--mobile;

// ToggleButton
$toggle-button-border: 1px solid $color-toggle-button-border;
$toggle-button-border-radius: 30px;
$toggle-button-height: 0.9rem;
$toggle-button-width: 2.1rem;
$toggle-button-circle-size: calc(1.3 * $toggle-button-height);
$color-toggle-button-circle: $c-aruba-blue;
$toggle-button-circle-position--on: calc(
  $toggle-button-width - $toggle-button-circle-size
);
$toggle-button-circle-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

// TopBar
$topbar-padding: $gutter-xs $gutter-sm;
$topbar-toggle-width: 9rem;

$home-icon-padding: 0.5rem;

// WorkSection
$work-section-margin-top--mobile: $gutter-xl;
$work-section-padding: $gutter-md $gutter-sm;
$work-section-title-padding: $gutter-sm;
$work-section-title-padding--mobile: 10rem;
