@import './variables.scss';
@import './breakpoints.scss';

html,
body {
  background-color: $color-bg-margins;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $noto, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

main {
  width: 100%;
}

#__next {
  height: 100%;
}

h1 {
  font-size: $fs-header;
  margin: 0;
}

a {
  background: linear-gradient(
    to bottom,
    transparent 50%,
    $c-charleston-green 50%
  );
  background-size: 100% 200%;
  background-position: right top;
  color: $color-link;
  transition: 0.2s ease-in-out;

  &:hover {
    background-position: right bottom;
    color: $color-link--hover;
    transition: 0.2s ease-in-out;
  }
}

p {
  margin: 0;
}
