@import './variables.scss';
@import './breakpoints.scss';

html,
body {
  background-color: $color-bg-margins;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $noto, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

main {
  width: 100%;
}

#__next {
  height: 100%;
}

h1 {
  font-size: $fs-header;
  margin: 0;
}

a {
  color: $color-link;
  transition: 0.1s ease-in-out;

  &:hover {
    color: $c-aruba-blue;
    letter-spacing: 2px;
    transition: 0.1s ease-in-out;
  }
}

p {
  margin: 0;
}
